---
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../lib/pocketbase";

export const prerender = true;

const posts = await getPosts();
---

<Layout title="Blog">
  {
    posts.map((post) => {
      const date = new Date(post.created).toLocaleDateString("en-US", {
        month: "2-digit",
        day: "2-digit",
        year: "numeric",
      });

      return (
        <div class="flex flex-col gap-1 max-w-full overflow-hidden">
          <a href={`/blog/${post.slug}`} class="text-lg lg:text-xl border-b w-max">
            {post.title}
          </a>
          <span class="text-[#6B5E50] text-sm lg:text-base">{date}</span>
          <a
            href={`/blog/${post.slug}`}
            class="w-max block mt-4 line-clamp-1 text-sm lg:text-base"
          >
            {post.description}
          </a>
        </div>
      );
    })
  }
</Layout>
