---
import Layout from "../../layouts/Layout.astro";
import { formatTags } from "../../utils/formatTags";

const allPosts = await Astro.glob("./*.md");
const recentPosts = allPosts.slice(0, 10);
---

<Layout title="Blog">
  {
    recentPosts.map((recentPost) => {
      const { title, description, date, tags } = recentPost.frontmatter;
      const { url } = recentPost;

      return (
        <div class="flex flex-col gap-1 max-w-full overflow-hidden">
          <a href={url} class="text-lg lg:text-xl border-b w-max">
            {title}
          </a>
          <span class="text-[#6B5E50] text-sm lg:text-base">{date}</span>
          <span class="text-[#6B5E50] text-sm">tags: {formatTags(tags)}</span>
          <a
            href={url}
            class="w-max block mt-4 line-clamp-1 text-sm lg:text-base"
          >
            {description}
          </a>
        </div>
      );
    })
  }
</Layout>
